<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <link rel="stylesheet" href="/static/css/home.css">
    <title>News Website</title>
  </head>
  <body>
    <div class="article-list">
      {{range .Articles}}
      <article class="article">
        <h2>{{.Title}}</h2>
        <p>{{.Content}}</p>
        <a href="{{ printf "/article/%s" .ID }}">Read more</a>
      </article>
      {{end}} 
    </div>
  </body>
</html>
